* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.custom-border {
  border: none;
}

/* img hover affect styling */

.image-container {
  position: relative;
  overflow: hidden !important;
}

.image {
  width: 100%;
  transition: transform 0.2s ease, rotate 0.5s ease;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,
      255,
      255,
      0.9);
  color: black;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  opacity: 0;
  height: 80px;
}

.image-container:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.image-container:hover .image {
  /* transform: scale(1); */
  height: calc(100% - 80px);

}

.image-container:not(:hover) .image {
  transform: scale(1.1) rotate(0deg);
}

.heading {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  font-family: 'Circular Std', sans-serif;
  text-align: left !important;
  color: rgba(18, 29, 47, 1);
}

.subheading {
  font-size: 15px;
  font-weight: 300;
  text-align: left !important;
  line-height: 22px;
  font-family: 'Circular Std', sans-serif;

}


/* img hover affect styling end */


/* media --------------------- */
@media (max-width: 576px) {
  .wepara {
    display: none !important;
  }

  .heading {
    font-size: 24px !important;
  }

  .subscribe {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    min-width: 87% !important;
    margin-bottom: 2% !important;
    display: flex !important;
    justify-content: center !important;
  }

  .lastpara {
    font-size: 13px !important;
  }

  .para1 {
    font-size: 18px !important;
    text-align: center !important;
    letter-spacing: -1px !important;
  }

  .ulbtn {
    justify-content: center !important;
    margin-left: 0% !important;
  }

  .head2 {
    font-size: 23px !important;
  }

  .he {
    font-size: 24px !important;
    padding-top: 20px !important;
  }

  .spantag {
    font-size: 30px !important;
    line-height: 60px !important;
  }

  .img1 {
    height: 37vh !important;
    margin-top: 20px !important;
  }

  .h {
    font-size: 19px !important;
    text-align: center !important;
  }

  .p1 {
    font-size: 12px !important;
    text-align: center !important;
  }

  .butt1 {
    display: flex !important;
    justify-content: center !important;
  }

  .h3h {
    font-size: 17.9px !important;
    text-align: center !important;
  }

  .p11 {
    font-size: 13px !important;
    text-align: center !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .inp {
    width: 91% !important;
    margin-left: 4.5% !important;
  }

  .head2 {
    border-bottom: 1px solid black !important;
  }

  .borderleft {
    border-left: 1px solid black !important;
    border-bottom: 1px solid black !important;
    border-right: 0 !important;
  }

  .borderright {
    border-right: 1px solid black !important;
  }

  .btn11 {
    display: flex !important;
    justify-content: center !important;
  }

  .logo {
    width: 90px !important;
  }

  .logo1 {
    font-size: 45px !important;
  }

  .shape {
    font-size: 11px !important;
  }

  .allright {
    font-size: 12px !important;
  }

  .lastdiv {
    margin-top: 20px !important;
  }

  .inpdiv {
    justify-content: center !important;
  }
}

/* -------------------------------------- */
@media (max-width: 768px) {

  ul li {
    font-size: 13px !important;
  }

  .logo1 {
    font-size: 40px !important;
  }

  .list-unstyled {
    flex-direction: row !important;
    justify-content: flex-start;
  }

  .gap-md-3 {
    gap: 1rem !important;
  }
}

/* -------------------------------- */

@media (min-width: 577px) and (max-width: 767px) {
  .ulparent {
    justify-content: center !important;
  }

  .subscribe {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    width: 65vw !important;
    margin-bottom: 2% !important;
    display: flex !important;
    justify-content: center !important;
  }

  .shape {
    font-size: 11px !important;
  }

  .spantag {
    font-size: 43px !important;
  }

  .inp {
    width: 65vw !important;
  }

  .para1 {
    font-size: 30px !important;
  }

  .wepara {
    display: none !important;
  }

  .img1 {
    height: 50vh !important;
    margin-top: 10px !important;
  }

  .head2 {
    font-size: 35px !important;
  }

  .he {
    font-size: 31px !important;
  }

  .flex1 {
    text-align: center !important;
  }

  .h {
    font-size: 19px !important;
  }

  .p1 {
    font-size: 17px !important;
  }

  .h3h {
    font-size: 36px !important;
  }

  .p11 {
    font-size: 14px !important;
  }

  .btn11 {
    display: flex !important;
    justify-content: center !important;
  }

  .inpp {
    display: flex !important;
    justify-content: center !important;
  }
}

@media (min-width: 992px) and (max-width:1400px) {
  .custom-border {
    border: 1px solid #000000;
  }

  .ulparent {
    width: 55vw !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-border {
    border: 1px solid #000000;
  }

  .ulparent {
    width: 78vw !important;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .head2 {
    font-size: 33px !important;
  }

  .he {
    font-size: 36px !important;
  }

  .h {
    font-size: 30px !important;
  }

  .p1 {
    font-size: 16px !important;
  }

  .h3h {
    font-size: 28px !important;
  }

  .p11 {
    font-size: 12px !important;
  }

  .inp {
    display: flex !important;
    justify-content: center !important;
  }
}