
 
 /* ==========================  Active Bar Style ========================= */
  
 #exampleFormControlInput1{
  color: black!important;
}
 button{
  border-radius: 0!important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  -ms-border-radius: 0!important;
  -o-border-radius: 0!important;
}
 .nav-pills .nav-link.active {
  background-color: #111D2F !important; 
  color: #ffffff !important; 
  }

.nav-pills .nav-link {
  background-color: transparent; 
  color: #344054; 
}

.nav-pills .nav-link.active h6,
.nav-pills .nav-link.active p {
  color: #ffffff !important;
}

.nav-pills .nav-link:hover {
  background-color: #f1f1f1; 
}
/* ==========================  Active Bar Style END ========================= */
.form-control {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border: 1px solid #000 !important;
}

@media (max-width: 576px) {
  .btn1 {
    min-width: 82vw !important;
    height: 47px !important;
  }
  .logo {
    width: 90px !important;
  }
  .paragraph {
    font-size: 17px !important;
  }
  .paragraph2 {
    font-size: 20px !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    text-align: center !important;
  }
  .spantag {
    font-size: 20px !important;
    margin-left: 0 !important;
    margin-top: 0 !important;line-height: 0!important;
    text-align: center !important;
  }
  .logo1 {
    font-size: 45px !important;
  }
  .shape {
    font-size: 11px !important;
  }
  #exampleFormControlInput1::placeholder {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  ul li {
    font-size: 13px !important;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .smrow{
    width: 100%!important;
  }
  .col1{
    max-width: 33.31%!important;
  }
  .btn1 {
    min-width: 55vw !important;
    height: 47px !important;
  }
  .btn1parent {
    margin-top: 80px !important;
  }
  .flexcontainer {
    gap: 220px !important;
  }

  .button {
    width: 526px !important;
    height: 158px !important;
  }
  ul {
    width: 526px !important;
    margin: auto !important;
  }
  .paragraph2 {
    font-size: 30px !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    text-align: center !important;
  }
  .spantag {
    font-size: 30px !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    line-height: 20px!important ;
    text-align: center !important;
  }
  .inpparent {
    width: 553px !important;
    height: 312px !important;
    margin: auto !important;
  }
}
@media (min-width: 992px) {
  li {
    height: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  li {
    height: 100% !important;
  }
  .paragraph2 {
    font-size: 40px !important;
    margin-left: 20% !important;
    margin-top: 40% !important;
  }
  .spantag {
    font-size: 40px !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    line-height: 50px!important ;
  }
}
